.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 600px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
  background: url('../images/nyc_trip.jpg') no-repeat center center;
  background-size: cover;
}
.hero-image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
.about-section {
  padding: 20px;
}
.read-more {
  /* background: #0a2f63; */
  background-image: linear-gradient(to right, #e052a0, #FF3B3F);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}
.read-more:hover {
  cursor: pointer;
  background-image: linear-gradient(to right,#30b3fe,#526bf4);
}